# --------------------------------------------------------------
# ZSH Snippets
# --------------------------------------------------------------

extends sh
priority 10

# -------------------------------------
# Table of Contents:
# -------------------------------------
# 1. Misc
# -------------------------------------


# Misc --------------------------------------------------------- {{{1

snippet #! "Shebang..." b
#!/usr/bin/env ${1:zsh}

$0
endsnippet


# vim:foldmethod=marker:foldlevel=2
